<h2><%= @topic.title %></h2>
  <div class="row">
      <% @bookmarks.each do |bookmark| %>
        <div class = "col-md-3">
          <p class="bg-info"><%= bookmark.url%></p>
          <span>like</span>
          </div>

      <% end %>
  </div>
  <br>
  <div class = "row">
    <%= link_to "Delete", @topic, method: :delete, remote: true, class: 'btn btn-danger' %>
  </div>
  <br>
  <div>
    <%= link_to "Back", topics_path %>
  </div>
