<h2><%= @topic.title %></h2>
  <div class="row">
    <% if @count >0 %>
      <% @bookmarks.each do |bookmark| %>
        <div class = "col-md-3">
          <p class="bg-info"><%= bookmark.url%></p>
          <span>like</span>
          </div>
      <% end %>
    <% else %>
      <div class = "col-md-6">
        There are no URLs associated with this topic yet.
      </div>
    <% end %>
  </div>
  <br>
  <div class = "row">
    <%= link_to "Delete Topic", @topic, method: :delete, data: {confirm: 'Are you sure you want to delete this wiki!?'}, class: 'btn btn-danger' %>
  </div>
  <br>
  <div>
    <%= link_to "Back", topics_path %>
  </div>
