/*
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.checkbox {
  padding-left:4%;
}

.user-info {
  margin-top: 9px;
}
 
.nav {
  margin-top: 5px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

.row.navbar.navbar-bottom.pan7.text-center {
  padding-top: 3%;
}

.container.center {
  padding-top: 3%;
  text-align: center;
}
.favorite {
  padding-bottom: 4%;
}

p.bg-info {
  min-height: 150px;
  min-width: 200px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  line-height: 150px;
  color: #337ab7;
}
.col-md-3 {
  text-align: center;
  color: #337ab7;
}

.pad-bottom {
  padding-bottom: 2%;
}

.pad-top {
  padding-top: 2%;
}

.row.pay.pan7.text-center {
  padding-bottom: 1%;
}

.myurl {
  font-weight: bold;
  font-size: 16px;
  color: #337ab7;
  padding-bottom: 2%;
}

.bg-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
}