// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  padding-top: 5%;
  padding-bottom: 4%;
  text-align: center;
}

.back-links {
  padding-top: 5%;
}

form#new_bookmark.new_bookmark {
  padding-top: 10%;
}

.myurl {
  font-weight: bold;
  font-size: 16px;
  color: #337ab7;
  padding-bottom: 2%;
}

.edit-bookmark {
  padding-top: 1%;
  padding-bottom: 3%;
}