// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  padding-top: 5%;
  padding-bottom: 4%;
  text-align: center;
}

.row.topic {
  text-align: center;
  text-decoration: underline;
}
.back-links {
  padding-top: 5%;
}

.bg-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form#new_bookmark.new_bookmark {
  padding-top: 10%;
  text-align: center;
}

.myurl {
  font-weight: bold;
  font-size: 16px;
  color: #337ab7;
  padding-bottom: 2%;
}

.edit-bookmark {
  padding-top: 3%;
  padding-bottom: 3%;
}

h2.liked {
  padding-top: 3%;
}

.row.row-remove {
  padding-bottom: 3%;
}

.col-md-3 {
  text-align: center;
  color: #337ab7;
}

.favorite {
  padding-bottom: 2%;
}